<html>
<head>
    <title>Movies REST</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div style="margin: auto; width: 1150px">
        <h1>Películas<span><a href="/add"><button>Añadir nueva película</button></a></span></h1>
        <table>
        <tr>
            <th>Nombre</th>
            <th>Género</th>
            <th>Descripción</th>
            <th>Director</th>
            <th>Año</th>
            <th></th>
            <th></th>
        </tr>
            {% for movie in details %}
                <tr>
                    <form method="POST">
                        {% csrf_token %}
                        <td><input type="text" name="name" value = "{{ movie.name }}"></td>
                        <td><input type="text" name = "genre" value ="{{ movie.genre }}"></td>
                        <td><input type="text" name = "description" value ="{{ movie.description }}"></td>
                        <td><input type="text" name = "director" value ="{{ movie.director }}"></td>
                        <td><input type="text" name = "year" value ={{ movie.year }}></td>
                        <td><input type="submit" name = "action" class="warning" value ="Actualizar"></td>
                        <td><input type="submit" name = "action" class="danger" value ="Eliminar"></td>
                    </form>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>